<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>問診票 | 登録完了</title>

    <meta charset="utf-8">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>問診票</h1>
        <p>登録が完了しました</p>

        <a class="btn btn-default" th:href="@{/}">続けて登録する</a>
    </div>
</body>
</html>